{{!< default.hbs}}

{{#post}}
  <article>
    <header class="post-header">
      <p>{{date}}</p>
      <h2><a href="{{url}}">{{title}}</a></h2>
    </header>
    {{content}}
    </section>
  </article>
{{/post}}

